<% provide(:title, "Home") %>
  <h1>Welcome to Miso</h1>
  <div class="hero"><p>We aim to save time so you can focus on the things important to you.</p></div>
  <p>We aim to save time so you can focus on the things important to you.</p>
</body>